@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/*principal interface*/

.main-title {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.top {
    height:50px;
    margin-bottom: 35px;
}

.btn-add {
    background-color: #029cda;
    color: white;
    height: 100%;
    padding: 0 8px;
    width: 170px;
    font-weight: 500;
    border-radius: 4px;
}

.btn-option {
    height: 100%;
    padding: 0 8px;
    background-color: #029cda;
    color: white;
    width: 160px;
    font-weight: 500;
    border-radius: 4px;
}

.top button:hover {
    background-color: #40c0f3;
}

.bottom {
    background-color: rgb(141, 192, 237);
}

/*Sidebar*/

.sidebar {
    background-color: #173f87;
}

.perfil-box {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0a306a;
}

.perfil-img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: rgb(255, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #029cda;
    object-fit: cover;
}

.perfil-img img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.user-name {
    color: rgb(241, 241, 241);
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 5px;
}

.routes-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 15px;
}

.btn-section {
    border: 1px solid #9cc3ff;
    height: 50px;
    width: 100%;
    color: #9cc3ff;
    font-weight: 400;
}

.btn-section:hover {
    background-color: #2b68db;
}

.btn-section-active {
    border: 1px solid #9cc3ff;
    height: 50px;
    width: 100%;
    color: #00307c;
    background: #bdc7ff;
    font-weight: 400;
}

.btn-section-active:hover {
    background-color: #fdffff;
    color: #0a306a;
}

.section-box {
    width: 100%;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
  }

thead {
    background-color: #173f87;
    color: white;
}

  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid black;
  }

  th {
    background-color: #f2f2f2;
  }


/*login Page*/

.btn-login {
    border: 1px solid #9cc3ff;
    font-size: 14px;
    padding: 8px 6px;
    border-radius: 4px;
    background-color: #029cda;
    color: #f2f2f2;
}

 .btn-login:hover {
    background-color: #2b68db;
}


/* Material Form*/

.form-container {
    width: 300px;
    height: 300px;
    padding: 15px;
}

.material-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.item-box {
    height: 70px;
    width: 100%;
    color: black;
    font-size: 16px;
}

.item-box input {
    height: 75%;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(87, 87, 255);
}

.btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*inventory Form*/

.select-form {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(87, 87, 255);
}


/*app page*/

.links-box {
    width: 400px;
    height: 400px;
    border: 2px solid rgb(87, 87, 255);
    justify-content: space-between;
    padding: 15px;
} 

.link-box {
    background-color:rgb(87, 87, 255);
    color: #f2f2f2;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    font-weight: 500;
}
